{%extends 'base.html' %}
{% load staticfiles %}

<html>
	<head>
	
	    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/visorTest.css' %}">
	    <script src={% static "angular/angular.min.js" %}></script>
	    <script src={% static "jquery/js/jquery-2.1.1.min.js" %}></script>
        <script src={% static "jquery/js/jquery-ui.min.js" %}></script>
      
        
	</head>
	{%block content%}
	<body ng-app="dynamicForms">
		<div id="page-wrapper">
	        {% verbatim %} 
	        <div class="content" ng-controller="EditorCtrl as visor">
	            <div class ="row">
	            <div class=" col-md-2"></div>
	            	<div class=" col-md-6">
		                <!--div class= "panel panel-danger">
		                	<div class= "panel-heading" align="Center">  Palette</div>
		                	<div class= "panel-body">
								<div class="row" style ="margin-bottom:0.5%;" >
									<div class=" col-md-3">
										<button  type="button" class= "btn btn-info btn-lg btn-block"   ng-click="visor.addField(visor.FieldTypes[0])">
											<span class="glyphicon glyphicon-text-height"></span>
											Single line text
										</button>
									</div>
									<div class=" col-md-3">
										<button type="button" class= "btn btn-info btn-lg btn-block " ng-click="visor.addField(visor.FieldTypes[2])">
											<span class="glyphicon glyphicon-list"></span>
											Multiple line text
										</button>
									</div>
									<div class=" col-md-3">
										<button type="button" class= "btn btn-info btn-lg btn-block " ng-click="visor.addField(visor.FieldTypes[1])">
											<span class="glyphicon glyphicon-sort-by-order"></span>
											Number
										</button>
									</div>
									<div class=" col-md-3">
										<button type="button" class= "btn btn-info btn-lg btn-block disabled ">
											<span class="glyphicon glyphicon-unchecked"></span>
											CheckBox
										</button>
									</div>					
								</div>
								<div class="row" id="btnPalette" style ="margin-top:0.5%;">
									<div class=" col-md-3">
										<button type="button" class= "btn btn-info btn-lg btn-block disabled ">
											<span class="glyphicon glyphicon-collapse-down"></span>
											Dropdown
										</button>
									</div>
									<div class=" col-md-3">
										<button type="button" class= "btn btn-info btn-lg btn-block disabled ">
											<span class="glyphicon glyphicon-calendar"></span>
											Date
										</button>
									</div>
									<div class=" col-md-3">
										<button type="button" class= "btn btn-info btn-lg btn-block disabled ">
											<span class="glyphicon glyphicon-home"></span>
											Adress
										</button>
									</div>
									<div class=" col-md-3">
										<button type="button" class= "btn btn-info btn-lg btn-block disabled ">
											<span class="glyphicon glyphicon-record"></span>	
											RadioButton
										</button>
									</div>			
								</div>
								
							</div>
		                </div-->
		            </div>   
	            </div>
	            <div class="row">
	                <div class="col-md-2 "></div>
	                <div class=" col-md-6">
	                    <div class="panel panel-primary ">
	                        <div class="panel-heading text-center"><h1>Titulo: 
                                <input  class="form-control" type="text" ng-model="visor.form.title"/></h1></div>
	                        <form role="form" class="panel-body" novalidate>                                                   
	                                <div  ng-repeat="question in visor.questions"  ng-click="visor.selectField($index)" > 
	                                        <div class="form-group" >
	                                            <div ng-include="question.field_type"></div>
	                                        </div>
	                                </div>
	                            <div class="text-right">
	                                <button type="submit" ng-click="visor.submitForm()" class="btn btn-default">Publish</button>                                    
	                            </div>
	                        </form>
	                    </div>
	                </div>  
	                <div class="col-md-3" style= " margin-left:2%" >                  
	                     <div  ng-include="'modify_input'"></div>      
	                </div>
	            </div>
	        </div>
	    {%endverbatim%}
		    <script src={% static "angular/angular.min.js" %}></script>
		    <script src={% static "js/app.js" %}></script>
		</div> <!-- div de page-wrapper -->
	    {%endblock%}
	</body>
</html>