{%extends 'base.html' %}
{% load staticfiles %}

<html>
	<head>
	    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	</head>
	{%block content%}
	<body ng-app="dynamicFormsFramework">
		<div id="page-wrapper">
	        {% verbatim %} 
	        <div class="content" ng-controller="EditorCtrl as visor">
	            <div class ="row">
		            <div class=" col-md-2"></div>
		            	<div class=" col-md-6">
			               <div  ng-include="'palette'"></div>  
			            </div>   
		            </div>
	            <div class="row">
	                <div class="col-md-2 "></div>
	                <div class=" col-md-6">
	                    <div class="panel panel-primary ">
	                        <div class="panel-heading text-center">
                                <h1>Titulo:
                                    <input  class="form-control" type="text" ng-model="visor.form.title"/>
                                </h1>
                            </div>
                            
                            <ul ui-sortable ng-model="visor.questions" class="panel-body list-body" style="list-style-type: none;">                                                   
                                <li  ng-repeat="question in visor.questions" class="list-item field-color" > 
                                   <div class="form-group" >                                      
                                            <div ng-include="question.field_type"></div>                                    
                                    </div>
                                </li>
                               
                            </ul>
           
                             <div class="text-right">
                                    <button type="submit" ng-click="visor.submitForm()" class="btn btn-default">Publish</button>
                                    <button type="submit" ng-click="visor.saveForm()" class="btn btn-default">Save</button>
                                </div>
                            <pre>isNewForm: {{visor.isNewForm()}}</pre>
                            <pre>form: {{visor.form|json}}</pre>
                            <pre>version: {{visor.version|json}}</pre>
	                    </div>
	                </div>  
	                <div class="col-md-3" style= " margin-left:2%" >                  
	                     <div  ng-include="'modify_input'"></div>      
	                </div>
	            </div>
	        </div>
	    {%endverbatim%}
            <script src={% static "jquery/js/jquery-2.1.1.min.js" %}></script>
            <script src={% static "jquery/js/jquery-ui.min.js" %}></script>
		    <script src={% static "angular/angular.min.js" %}></script>
            <script src={% static "angular/sortable.js" %}></script>
		    <script src={% static "js/app.js" %}></script>
            <script src={% static "js/editorCtrl.js" %}></script>
		</div> <!-- div de page-wrapper -->
	    {%endblock%}
	</body>
</html>
