{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django surveys - submitted</title>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	</head>
	<body class="radial-center">
		<div class="success-message">
    		<h1>Thanks! You succesfully filled the form! </h1>
		</div>

        <script src={% static "jquery/js/jquery-2.1.1.min.js" %}></script>
        <script src={% static "bootstrap/js/bootstrap.js" %}></script>
    </body>
    
</html>
        
   