{%verbatim%}
 <div class="panel panel-default" ng-model="selectedField">
    <div class="panel-heading">
        Field Properties
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="FieldLabel">Field Label</label>
            <input  class="form-control"  ng-model="selectedField.text">
        </div>
        <div class="form-group">
            <label for="FieldType">Field Type</label>
            <select class="form-control" ng-model="selectedField.type"  ng-options="types for types in FieldTypes"></select>
        </div>   
        
        <div class="form-group">
            <div class="radio-inline">
                <lable>
                    <input type="radio" ng-model="selectedField.required" ng-value="true"> Required
                </lable>           
            </div>
            <div class="radio-inline">
                <lable>
                    <input type="radio" ng-model="selectedField.required" ng-value="false">Not Required
                </lable>           
            </div>
        </div>
        
    </div>
</div>
{%endverbatim%}

