{%extends 'base.html' %}
<!DOCTYPE html>
<html lang="en" ng-app="dynamicForms">
{%block content%}
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            New Form
                        </h1>
                    </div>
                </div>
                <div class="row" ng-controller="EditorCtrl as visor">
                    <input  class="form-control" type="text" ng-model="visor.actual"  ng-required="true"/>	
                    {{visor.actual}}
                </div>
          </div>
{%endblock%}