{% verbatim %} 
<div class="container" style= "width:100%">
    <div class="row" style ="margin-bottom:0.5%;" >
        <!-- Creates a button for each field type -->
        <button ng-repeat="(field_type_id, field_type_name) in visor.FieldTypes"
            type="button" class="btn btn-info btn-block regular-link"
            ng-click="visor.addField(field_type_id)">
            {{field_type_name}}
        </button>
        <hr/>
        <!-- Permanent buttons -->
        <a class="btn btn-warning btn-block" ng-hide="visor.isNewForm()" target="_blank" 
            href= "preview#?form={{visor.form.id}}&ver={{visor.version.number}}">
            <span class="glyphicon glyphicon-eye-open" />
            Preview
        </a>
        <button type="button" 
            class= "btn btn-info btn-block" 
            ng-click="visor.addPage()">
            New Page
        </button>
    </div>
</div>
{% endverbatim %} 