<div class="container" style= "width:100%">
									<div class="row" style ="margin-bottom:0.5%;" >
										
												
													<button  type="button" class="btn btn-info btn-block   regular-link"   ng-click="visor.addField(visor.FieldTypes[0])">
														<span class="glyphicon glyphicon-text-height"></span>
														Single line
													</button>

													<button type="button" class="btn btn-info btn-block   regular-link" ng-click="visor.addField(visor.FieldTypes[2])">
													<span class="glyphicon glyphicon-list"></span>
													Multiple line
												</button>
												<button type="button" class="btn btn-info btn-block regular-link" ng-click="visor.addField(visor.FieldTypes[1])">
													<span class="glyphicon glyphicon-sort-by-order"></span>
													Number
												</button>

												<button type="button" class="btn btn-info btn-block regular-link" ng-click="visor.addField(visor.FieldTypes[5])">
												<span class="glyphicon glyphicon-user"></span>
												Id Doc
												</button>
												<button type="button" class="btn btn-info btn-block regular-link" ng-click="visor.addField(visor.FieldTypes[4])">
												<span class="glyphicon glyphicon-envelope"></span>
												Mail 
											</button>
											<button type="button" class="btn btn-info btn-block regular-link disabled ">
												<span class="glyphicon glyphicon-home"></span>
												Adress
											</button>
											<button type="button" class="btn btn-info btn-block regular-link" ng-click="visor.addField(visor.FieldTypes[6])" > 
													<span class="glyphicon glyphicon-unchecked"></span>	
													Checkbox
												</button>
											
													<button type="button" class= "btn btn-info btn-block regular-link" ng-click="visor.addPage()">
														New Page
													</button>
												<button type="button" class="btn btn-info btn-block regular-link" ng-click="visor.addField(visor.FieldTypes[3])">
														<span class="glyphicon glyphicon-collapse-down"></span>
														DropDown
													</button>
									</div>			
								</div>
                              			