{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="dynamicFormsFramework" ng-controller="PreviewCtrl">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% verbatim %}
        <title>Preview - {{title}}</title>
        {% endverbatim %}
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <base href="dynamicForms">
	</head>
	<body class="radial-center">
        <div ng-include="'visor_template'"></div>
        
        <script src={% static "jquery/js/jquery-2.1.1.min.js" %}></script>
        <script src={% static "bootstrap/js/bootstrap.js" %}></script>
        <script src={% static "angular/angular.js" %}></script>
        <script src={% static "angular/sortable.js" %}></script>
        <script src={% static "angular/checklist-model.js" %}></script>

        <script src={% static "bootstrap/js/ui-bootstrap.min.js" %}></script>
	    <script src={% static "js/app.js" %}></script>
        <script src={% static "js/operators/operatorFactory.js" %}></script>
        <script src={% static "js/operators/operatorField.js" %}></script>
        <script src={% static "js/operators/operatorList.js" %}></script>
        <script src={% static "js/operators/operatorChecks.js" %}></script>
        <script src={% static "js/operators/operatorNumber.js" %}></script>
        <script src={% static "js/previewCtrl.js" %}></script>
    </body>
    
</html>