{% verbatim %} 
     <label >{{$index + 1}}. {{question.text}}</label>
        <button style="border:none;background:none" ng-show="question.tooltip!=undefined && question.tooltip!=''" tooltip="{{question.tooltip}}">
            <span class="glyphicon glyphicon-info-sign"></span>
        </button>
    
    <textarea class="form-control" type="text" ng-model="question.answer[0]"
        ng-required="question.validations.required"
    	ng-maxlength="{{question.validations.max_len_text}}"
    	ng-disabled = "disabled"
    	ng-show="showValues[question.field_id]"
    />   
{% endverbatim %} 
