{% verbatim %}
     <label >{{$index + 1}}. {{question.text}}</label>
        <button style="border:none;background:none" ng-show="question.tooltip!=undefined && question.tooltip!=''" tooltip="{{question.tooltip}}">
            <span class="glyphicon glyphicon-info-sign"></span>
        </button>
    
    <input type="number" class="form-control" ng-model="question.answer" 
    	ng-required="question.validations.required"
        min="{{question.validations.min_number}}"
        max="{{question.validations.max_number}}"
        ng-disabled = "disabled"
    />
{% endverbatim %} 
