{%extends 'base.html' %}
{% load staticfiles %}



<!DOCTYPE html>
{%block content%}



    <div id="page-wrapper">
	        {% verbatim %} 
            
	        <div class="content" ng-controller="statisticsCtrl as s">
                <div class="list-group">
                            <ul>
                                <li ng-repeat="field in s.values">
                                    <h2>Field {{field.id}}  
                                        <select class="btn btn-primary col-md-offset-1" ng-model="field.chart" ng-options="type for type in chart_types"></select>
                                    </h2>
                                  
                                    <div class="row" ng-include="templates[field.field_type]"></div>                                                                                                    
                                </li>

                            </ul>
                </div>

             {%endverbatim%}

     </div>
   
      
{%endblock%} 










{%block scripts%}
            <script src={% static "angular/angular.min.js" %}></script>
            <script src={% static "angular/angular-sanitize.js" %}></script>
            <script src={% static "angular/ng-csv.js" %}></script>
            <script src={% static "jquery/js/jquery-2.1.1.min.js" %}></script>
            <script src={% static "jquery/js/jquery-ui.min.js" %}></script>           
            <script src={% static "angular/d3.min.js" %}></script> 
            <script src={% static "angular/angular-charts.min.js" %}></script>   
            <script src={% static "bootstrap/js/ui-bootstrap.min.js" %}></script>
            <script src={% static "angular/sortable.js" %}></script>
            <script src={% static "angular/checklist-model.js" %}></script>
		    <script src={% static "js/app.js" %}></script>
		    <script src={% static "js/operatorFactory.js" %}></script>
		    <script src={% static "js/operatorField.js" %}></script>
		    <script src={% static "js/operatorList.js" %}></script>
		    <script src={% static "js/operatorChecks.js" %}></script>
		    <script src={% static "js/operatorNumber.js" %}></script>
            <script src={% static "js/statisticsCtrl.js" %}></script>
            <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
            <script src={% static "angular/FileSaver.js" %}></script>
            <script src={% static "angular/jspdf.js" %}></script>
            <script src={% static "angular/jspdf.plugin.table.js" %}></script>
            

            
            
{%endblock%}   

 


                                


