{% load staticfiles %}

<html>
	<head>
	    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/visorTest.css' %}">
	    <script src={% static "angular/angular.min.js" %}></script>
	    <script src={% static "js/app.js" %}></script>
	</head>
	<body ng-app="dynamicForms">
        {% verbatim %} 
        <div class="content" ng-controller="VisorCtrl as visor">
            <div class="row">
                <div class="col-md-3 "></div>
                <div class=" col-md-6">
                    <div class="panel panel-primary ">
                        <div class="panel-heading text-center"><h1>{{visor.form.title}}</h1></div>
                        <form role="form" class="panel-body">                                            
                            <div  ng-repeat="question in visor.questions" ng-click="visor.selectField($index)" class="fieldColor">
                                <div class="form-group" >
                                    <div ng-include="question.type"></div>
                                </div>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-default">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>    
                <div class="col-md-3">                  
                     <div  ng-include="'modify_input'"></div>      
                </div>
            </div>
        </div>
    {%endverbatim%}
	    <script src={% static "angular/angular.min.js" %}></script>
	    <script src={% static "js/app.js" %}></script>
	</body>
</html>