{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="dynamicFormsFramework" ng-controller="VisorCtrl as visor">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% verbatim %}
        <title>Django surveys - {{title}}</title>
        {% endverbatim %}
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <base href="dynamicForms">
	</head>
	<body class="radial-center">
        <div ng-include="'/dynamicForms/visor_template'"></div>
        
        <script src={% static "jquery/js/jquery-2.1.1.min.js" %}></script>
        <script src={% static "bootstrap/js/bootstrap.js" %}></script>
        <script src={% static "angular/angular.min.js" %}></script>
        <script src={% static "angular/checklist-model.js" %}></script>
        <script src={% static "bootstrap/js/ui-bootstrap.min.js" %}></script>
	    <script src={% static "js/appVisor.js" %}></script>
        <script src={% static "js/operatorFactory.js" %}></script>
        <script src={% static "js/operatorField.js" %}></script>
        <script src={% static "js/operatorList.js" %}></script>
        <script src={% static "js/operatorChecks.js" %}></script>
        <script src={% static "js/operatorNumber.js" %}></script>
        <script src={% static "js/visorCtrl.js" %}></script>
        <script src={% static "js/editorCtrl.js" %}></script>
    </body>
    
</html>