{% verbatim %}
    <label >{{$index + 1}}. {{question.text}}</label>
    <button style="border:none;background:none" ng-show="question.tooltip!=undefined && question.tooltip!=''" tooltip="{{question.tooltip}}">
        <span class="glyphicon glyphicon-info-sign"></span>
    </button>

    <div ng-show="showValues[question.field_id]"
         ng-repeat ="option in question.options" >
	    <div class="checkbox"  ng-required="question.required">
		    <label>
		      <input type="checkbox" checklist-model="question.answer" checklist-value="option.label" > {{option.label}}
		    </label>
	 	</div>
    </div>
{% endverbatim %} 


 