{%verbatim%}
 <div class="panel panel-danger" ng-model="visor.selectedField">
    <div class="panel-heading">
        Field Properties
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="FieldLabel">Field Label</label>
            <input  class="form-control"  ng-model="visor.selectedField.text">
        </div>
        <div class="form-group">
            <label for="FieldType">Field Type</label>
            <select class="form-control" ng-model="visor.selectedField.field_type"  ng-options="types for types in visor.FieldTypes"></select>
        </div>   
        
        
        
        <div ng-show="visor.selectedField.field_type=='combobox'" class="form-group">
            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
              <span class="glyphicon glyphicon-star"></span> Add Options
            </button>
        </div>  
        
        
        
        <div class="form-group" ng-show= "visor.selectedField.field_type == 'checkbox'">
            <label for="FieldType">Checkbox Options:</label>
            <div ng-repeat = "option in visor.selectedField.options">
                <div class="form-group">
                    <div class="input-group">
                         <span class="input-group-btn">
                            <button class="btn pull-right" ng-click = "visor.deleteOption($index)">
                                 <span class="glyphicon glyphicon-remove"></span>
                            </button>
                         </span>
                         <input  class="form-control"  ng-model="visor.selectedField.options[visor.selectedField.options.indexOf(option)].label" required>
                    </div>  
                </div>               
            </div>
            <button type="button" class="btn btn-default btn-xs" ng-click = "visor.addOption()" >
                    <span class="glyphicon glyphicon-star"></span> Add Options
            </button>
            
        </div>
        
        
        
        <div ng-show="visor.selectedField.field_type=='number'" class="form-group">
            Min: <input type="number" ng-model="visor.selectedField.validations.min_number" ng-value="true" ng-blur="visor.checkValidations(visor.selectedField)">
            Max: <input type="number" ng-model="visor.selectedField.validations.max_number" ng-value="true" ng-blur="visor.checkValidations(visor.selectedField)">
        </div>


        <div ng-show="visor.selectedField.field_type=='text' || visor.selectedField.field_type=='textarea'" class="form-group">
            Length: <input type="number" ng-model="visor.selectedField.validations.max_len_text" ng-value="true" ng-blur="visor.checkValidations(visor.selectedField)">
        </div>

        <div class="form-group">
            <div class="radio-inline">
                <lable>
                    <input type="radio" ng-model="visor.selectedField.validations.required" ng-value="true"> Required
                </lable>           
            </div>
            <div class="radio-inline">
                <lable>
                    <input type="radio" ng-model="visor.selectedField.validations.required" ng-value="false">Not Required
                </lable>           
            </div>
        </div>
        
        <div ng-include="'select_modal'"></div>
     
        
    </div>
</div>
{%endverbatim%}

